options:
  collate: utf8_unicode_ci
  charset: utf8

ForumAlerte:
  tableName: zcov2_forum_alertes
  columns:
    utilisateur_id:          { type: integer(11) }
    admin_id:                { type: integer(11) }
    sujet_id:                { type: integer(11) }
    date:                    { type: timestamp(25) }
    raison:                  { type: string() }
    resolu:                  { type: boolean }
    ip:                      { type: integer(11) }
  relations:
    Utilisateur:             { local: utilisateur_id, foreign: utilisateur_id }
    Admin:                   { class: Utilisateur, local: admin_id, foreign: utilisateur_id }
    Sujet:                   { class: ForumSujet, local: sujet_id, foreign: sujet_id }

ForumMessage:
  tableName: zcov2_forum_messages
  columns:
    message_id:              { type: integer(11), name: message_id as id, primary: true, autoincrement: true }
    message_sujet_id:        { type: integer(11), name: message_sujet_id as sujet_id }
    message_edite_auteur:    { type: integer(11) }
    message_auteur:          { type: integer(11) }
    message_texte:           { type: string(), name: message_texte as texte }
    message_date:            { type: timestamp(25), name: message_date as date }
    message_edite_date:      { type: timestamp(25), name: message_edite_date as edite_date }
    message_ip:              { type: integer(11), name: message_ip as ip }
    message_help:            { type: boolean, name: message_help as help }
  relations:
    Utilisateur:             { local: message_auteur, foreign: utilisateur_id }
    Editeur:                 { class: Utilisateur, local: message_edite_auteur, foreign: utilisateur_id }
    Sujet:                   { class: ForumSujet, local: sujet_id, foreign: sujet_id }

ForumMessageAuto:
  tableName: zcov2_forum_messages_autos
  columns:
    id:                 { type: integer(1), primary: true, autoincrement: true }
    nom:                { type: string(255) }
    tag:                { type: string(255) }
    texte:              { type: string() }
    ferme:              { type: boolean }
    resolu:             { type: boolean }