services:
    zco_doctrine1.connection:
        class: Doctrine_Connection
        factory: [Doctrine_Manager, connection]
        public: true
        arguments: ['mysql://%env(DATABASE_HOST)%/%env(DATABASE_BASE)%', '%env(DATABASE_USER)%', '%env(DATABASE_PASSWORD)%']
        calls:
          - [addListener, ['@zco_doctrine1.audit_listener']]
          - [addListener, ['@zco_doctrine1.legacy_listener']]
          - [setOption, ['username', '%env(DATABASE_USER)%']]
          - [setOption, ['password', '%env(DATABASE_PASSWORD)%']]

    zco_doctrine1.audit_listener:
        class: Zco\Bundle\Doctrine1Bundle\EventListener\QueryAuditListener

    zco_doctrine1.legacy_listener:
            class: Zco\Bundle\Doctrine1Bundle\EventListener\LegacyListener

    zco_doctrine1.data_collector:
        class: Zco\Bundle\Doctrine1Bundle\DataCollector\DoctrineDataCollector
        arguments: ['@zco_doctrine1.audit_listener']
        tags:
            - { name: data_collector, template: "ZcoDoctrine1Bundle::collector", id: doctrine1 }
    
    zco_core.pagination_listener:
        class: Zco\Bundle\Doctrine1Bundle\EventListener\PaginationListener
        tags:
            - { name: kernel.event_subscriber }

    zco_doctrine1.form.type_guesser.orm:
        class: Zco\Bundle\Doctrine1Bundle\Form\DoctrineOrmTypeGuesser
        tags:
            - { name: form.type_guesser }
        
    zco_doctrine1.form.type.entity:
        class: Zco\Bundle\Doctrine1Bundle\Form\Type\EntityType
        tags:
            - { name: form.type, alias: entity }
    
    zco_doctrine1.migrations.configuration:
        class: Zco\Bundle\Doctrine1Bundle\Migrations\Configuration\Configuration
        arguments: ["%kernel.root_dir%/../data/migrations", "@service_container"]