/web/bundles/
/web/compiled/
/app/cache/*
/app/logs/*
/vendor
/composer.phar
/.vagrant/

# Fichiers de configuration
.env

# Fichiers de configuration des IDE
.project
nbproject/
.settings/*
.buildpath
.directory
*.tmproj
.idea/

# Fichiers spécifiques aux OS
.DS_Store
Thumbs.db
