/app/phpunit.xml
/app/bootstrap.php.cache
/web/bundles/
/web/uploads/
/var/
!/var/.gitkeep
/vendor/
/web/compiled/*
composer.phar

# IDE configuration files.
.project
nbproject/
.settings/*
.buildpath
.directory
*.tmproj
.idea/*

# OS specific files.
.DS_Store
Thumbs.db
