/app/phpunit.xml
/web/bundles/
/web/uploads/
/var/
!/var/.gitkeep
/vendor/
/web/compiled/*
/data/GeoLiteCity.dat

# IDE configuration files.
.project
nbproject/
.settings/*
.buildpath
.directory
*.tmproj
.idea/*

# OS specific files.
.DS_Store
Thumbs.db
