language: php

php:
- "7.1"

cache:
  directories:
  - node_modules
  - vendor
  - $HOME/.composer/cache

install:
- composer install

jobs:
  include:
  - stage: build docker image
    script:
    - echo "$DOCKER_PASSWORD" | docker login -u "$DOCKER_USERNAME" --password-stdin
    - docker build -t zcorrecteurs/monolith-www .
    - docker push zcorrecteurs/monolith-www