imports:
  - { resource: config.yml }

monolog:
    handlers:
        main:
            type:  stream
            path:  "php://stdout"
            level: info

services:
  zco.url_resolver:
    class: Zco\Bundle\CoreBundle\Filesystem\AzureBlobUrlResolver
    arguments: [zcorrecteurs, uploads]

  azure_blob_proxy_factory:
    class: Gaufrette\Adapter\AzureBlobStorage\BlobProxyFactory
    arguments: ["%azure_blob_dsn%"]

knp_gaufrette:
  adapters:
    uploads:
      azure_blob_storage:
        blob_proxy_factory_id: azure_blob_proxy_factory
        container_name: zcorrecteurs
        create_container: false
  filesystems:
    uploads: { adapter: uploads }