zco_user_index:
    pattern:   /
    defaults:  { _controller: ZcoUserBundle:Default:index }

zco_user_profile:
    pattern:   /{id}/{slug}
    defaults:  { _controller: ZcoUserBundle:Default:profile }
    requirements:
        id: \d+
        slug: '[a-z0-9-]+'

zco_user_newPseudo:
    pattern:   /nouveau-pseudo/{id}
    defaults:  { _controller: ZcoUserBundle:Default:newPseudo, id: ~ }
    requirements:
        id: \d+

zco_user_localisation:
    pattern:   /carte
    defaults:  { _controller: ZcoUserBundle:Default:localisation }

zco_user_zformBackups:
    pattern:   /sauvegardes-zform/{textarea}
    defaults:  { _controller: ZcoUserBundle:Default:zformBackups, textarea: ~ }
    options:   { expose: true }