parameters:
    test.client.class: Zco\Bundle\CoreBundle\Client

services:
    zco_core.registry:
        class:     Zco\Bundle\CoreBundle\Registry
        arguments: ["@zco_core.cache"]

    zco_core.form.type.zform:
        class: Zco\Bundle\CoreBundle\Form\Type\ZformType
        tags:
            - { name: form.type, alias: zform }

    imagine:
        class: Imagine\Gd\Imagine