services:
    zco_core.registry:
        class:     Zco\Bundle\CoreBundle\Registry
        arguments: ['@zco_core.cache']

    zco_core.form.type.zform:
        class: Zco\Bundle\CoreBundle\Form\Type\ZformType
        tags:
            - { name: form.type, alias: zform }

    imagine:
        class: Imagine\Gd\Imagine

    zco_core.cache:
        class: Doctrine\Common\Cache\ApcuCache

    zco_core.resource_manager:
        class: Zco\Bundle\CoreBundle\Javelin\ResourceManager
        arguments:
        - '@zco_core.assetic.asset_manager'
        - '@zco_core.resource_map'
        - '@router'
        - '%kernel.root_dir%/../web'
        - '%zco_core.vitesse.combine_assets%'
        - '%kernel.debug%'
        - '@?logger'

    zco_core.resource_map:
        class: Zco\Bundle\CoreBundle\Javelin\ResourceMap
        arguments: ['%zco_core.vitesse.cache_dir%']

    zco_core.assetic.asset_manager:
        class: Assetic\Factory\LazyAssetManager
        arguments: ['@zco_core.assetic.factory']

    zco_core.assetic.factory:
        class: Assetic\Factory\AssetFactory
        arguments: ['%kernel.root_dir%%/../web', '%kernel.debug%']

    zco_core.javelin:
        class: Zco\Bundle\CoreBundle\Javelin\Javelin
        arguments: ['@zco_core.resource_manager']

    swiftmailer.transport.sendgrid:
        class: Zco\Bundle\CoreBundle\SwiftMailer\SendGridTransport
        arguments:
        - '@swiftmailer.mailer.default.transport.eventdispatcher'
        - '%zco_core.sendgrid.api_key%'
        - '%zco_core.sendgrid.categories%'
        calls:
        - method: setLogger
          arguments:
          - '@?logger'