services:
  zco_content.event_listener:
    class: Zco\Bundle\ContentBundle\EventListener\EventListener
    calls:
    - [setContainer, ['@service_container']]
    tags:
    - { name: kernel.event_subscriber }

  zco.repository.quotes:
    class: Zco\Bundle\ContentBundle\Domain\QuoteRepository
    public: true
    arguments: ['@zco_doctrine1.connection']

  zco.repository.tags:
    class: Zco\Bundle\ContentBundle\Domain\TagRepository
    public: true
    arguments: ['@zco_doctrine1.connection']